<section>
  <form>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ingrese el E-mail</mat-label>
      <input type="email" matInput placeholder="example@gmail.com" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ingrese la Contraseña</mat-label>
      <input type="password" matInput placeholder="Password" />
    </mat-form-field>
  </form>
</section>

<section id="contenedor">
  <div id="elemento1" class="elemento"></div>
  <div id="elemento2" class="elemento"></div>
  <div id="elemento3" class="elemento"></div>
  <div></div>
</section>
